In [37]:
import pandas as pd
import os
from datetime import timedelta

kps = pd.read_csv(
    "./data/kp-data-new.csv",
)
kps["k_window"] = pd.to_datetime(kps["datetime"], utc=True)
for year_shift in range(8):
    year = year_shift + 2016
    print(year)
    name = f"dsc_fc_summed_spectra_{year}_v01"
    df = pd.read_csv(
        os.path.join(f'./data/{name}', f"{name}.csv"),
        delimiter=",",
        parse_dates=[0],
        header=None,
    )
    df["k_window"] = pd.to_datetime(
        df[0].apply(
            lambda x: x.replace(
                hour=x.hour if not x.hour % 3 else x.hour - x.hour % 3,
                minute=0,
                second=0,
            )
        ),
        utc=True,
    )
    df2 = df.merge(kps, how="left", on=["k_window"])[df.columns.tolist() + ["Kp"]]
    df2.rename(columns={"Kp": "k_index_current"}, inplace=True)
    df2.k_window = pd.to_datetime(
        df2.k_window.apply(lambda x: x + timedelta(hours=3)), utc=True
    )
    df3 = df2.merge(kps, how="left", on=["k_window"])[
        df2.columns.tolist() + ["Kp"]
    ]
    df3.drop(["k_window"], axis=1)
    df3.rename(columns={"Kp": "k_index_target"}, inplace=True)
    df3.to_csv(f"./data/data_{year}.csv")

2016
2017
2018
2019
2020
2021
2022
2023

In [ ]:
'./data/'

In [20]:
kps

,datetime,Kp,Rounded value,status,k_window
0,2016-01-01 00:00:00+00:00,6.000,6,def,2016-01-01 00:00:00+00:00
1,2016-01-01 03:00:00+00:00,5.333,5,def,2016-01-01 03:00:00+00:00
2,2016-01-01 06:00:00+00:00,5.000,5,def,2016-01-01 06:00:00+00:00
3,2016-01-01 09:00:00+00:00,3.333,3,def,2016-01-01 09:00:00+00:00
4,2016-01-01 12:00:00+00:00,1.667,2,def,2016-01-01 12:00:00+00:00
...,...,...,...,...,...
22683,2023-10-06 09:00:00+00:00,1.667,2,pre,2023-10-06 09:00:00+00:00
22684,2023-10-06 12:00:00+00:00,1.000,1,pre,2023-10-06 12:00:00+00:00
22685,2023-10-06 15:00:00+00:00,1.333,1,pre,2023-10-06 15:00:00+00:00
22686,2023-10-06 18:00:00+00:00,1.000,1,pre,2023-10-06 18:00:00+00:00
22687,2023-10-06 21:00:00+00:00,3.000,3,pre,2023-10-06 21:00:00+00:00

In [13]:
df3

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,k_window,k_not_round_target,k_index_target,k_not_round_target
0,2023-01-01 00:00:00,-2.70274,4.51236,-1.458060,43.044500,0.231726,0.231726,0.818269,22.60750,0.231726,...,0.0,0.0,0.0,0.0,0.0,0.0,2023-01-01 03:00:00+00:00,2.333,3,2.333
1,2023-01-01 00:01:00,-2.82748,4.69308,-0.949090,23.756600,0.231726,0.315117,1.063280,11.22800,0.231726,...,0.0,0.0,0.0,0.0,0.0,0.0,2023-01-01 03:00:00+00:00,2.333,3,2.333
2,2023-01-01 00:02:00,-1.87608,4.48063,-2.588770,61.344500,0.231726,0.231726,11.327000,19.76130,0.231726,...,0.0,0.0,0.0,0.0,0.0,0.0,2023-01-01 03:00:00+00:00,2.333,3,2.333
3,2023-01-01 00:03:00,-2.71541,4.74902,-0.324706,23.489500,0.231726,0.460690,3.708190,8.67441,0.231726,...,0.0,0.0,0.0,0.0,0.0,0.0,2023-01-01 03:00:00+00:00,2.333,3,2.333
4,2023-01-01 00:04:00,-2.93342,4.77895,-0.047584,26.517100,0.231726,0.231726,0.231726,10.46320,0.231726,...,0.0,0.0,0.0,0.0,0.0,0.0,2023-01-01 03:00:00+00:00,2.333,3,2.333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175675,2023-05-02 23:55:00,4.33665,2.80127,0.954633,1.004790,0.231726,4.647570,0.626576,3.54595,0.231726,...,0.0,0.0,0.0,0.0,0.0,0.0,2023-05-03 00:00:00+00:00,0.667,0,0.667
175676,2023-05-02 23:56:00,4.66778,2.10582,1.260660,0.781621,0.231726,5.972220,0.360648,3.39143,0.231726,...,0.0,0.0,0.0,0.0,0.0,0.0,2023-05-03 00:00:00+00:00,0.667,0,0.667
175677,2023-05-02 23:57:00,4.28322,3.02154,0.927773,0.854185,0.231726,8.104540,2.025800,4.22000,0.231726,...,0.0,0.0,0.0,0.0,0.0,0.0,2023-05-03 00:00:00+00:00,0.667,0,0.667
175678,2023-05-02 23:58:00,4.31376,2.67727,1.723270,0.801559,0.231726,12.762100,2.818550,4.82242,0.301864,...,0.0,0.0,0.0,0.0,0.0,0.0,2023-05-03 00:00:00+00:00,0.667,0,0.667
175679,2023-05-02 23:59:00,4.51542,2.30317,1.832570,2.265740,0.231726,11.687000,1.892900,2.39384,0.231726,...,0.0,0.0,0.0,0.0,0.0,0.0,2023-05-03 00:00:00+00:00,0.667,0,0.667

In [16]:
df2.k

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,k_window,k_index_current,k_index_current_2
0,2016-01-01 00:00:00,6.83609,-3.37934,-12.92050,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016-01-01 03:00:00+00:00,6.000,6.000
1,2016-01-01 00:01:00,6.76732,-3.30194,-12.99670,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016-01-01 03:00:00+00:00,6.000,6.000
2,2016-01-01 00:02:00,6.39107,-2.61173,-13.32710,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016-01-01 03:00:00+00:00,6.000,6.000
3,2016-01-01 00:03:00,6.44897,-2.61525,-13.32990,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016-01-01 03:00:00+00:00,6.000,6.000
4,2016-01-01 00:04:00,6.58758,-2.73082,-13.23610,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016-01-01 03:00:00+00:00,6.000,6.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283675,2016-12-31 23:55:00,-5.92351,3.25329,-2.07272,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2017-01-01 00:00:00+00:00,2.667,2.667
283676,2016-12-31 23:56:00,-6.10969,2.72681,-1.95783,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2017-01-01 00:00:00+00:00,2.667,2.667
283677,2016-12-31 23:57:00,-5.78496,-2.02603,-2.64053,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2017-01-01 00:00:00+00:00,2.667,2.667
283678,2016-12-31 23:58:00,-3.60551,-5.31124,-3.16447,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2017-01-01 00:00:00+00:00,2.667,2.667
283679,2016-12-31 23:59:00,-4.61841,-4.52630,-3.05202,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2017-01-01 00:00:00+00:00,2.667,2.667

In [36]:
pd.read_csv('./data/data_2016.csv').k_index_target.value_counts()

k_index_target
0.667    26640
1.000    25020
1.333    24120
0.333    23220
2.000    22680
1.667    22320
2.667    22320
2.333    21240
3.000    20160
3.333    17460
0.000    15840
3.667    12780
4.000     9720
4.333     7020
4.667     5580
5.000     3960
5.333     1260
5.667     1080
6.333      720
6.000      540
Name: count, dtype: int64